.registerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 3rem;
}

.registerDetails {
  width: 25rem;
}

.registerDetails form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.role-select {
  position: relative;
  margin-bottom: 0.5rem;
  border-radius: 0.7rem;
  padding-top: 0.3rem;
  border: 1px solid #e0e0e0;
}

.role-select label {
  display: inline-block;
  margin-left: 0.5rem;
  color: #5f5f5f;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.role-select select {
  width: 100%;
  height: 2.7rem;
  margin-top: -8px;
  padding: 0 0.5rem;
  border-bottom-left-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;
  border: 0;
  background-color: #f0f2f5b3;
  transition: border-width 0.15s ease-out;
  font-size: 0.95rem;
  outline: none;
  color: #3b5998;
}

.error {
  color: red;
  font-size: 0.875rem;
}
