@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  margin: 0;
  font-family: Quicksand, sans-serif;
  background-color: #f0f2f5b3; 
  color: #1c1e21;
  line-height: 1.6;

}

a {
  text-decoration: none;
}
