.LoginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 3rem;
  }
  
  .LoginDetails {
    width: 28rem;
  }
  
  .LoginDetails form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .register {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }