.HomeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.create-button {
  background-color: #337697;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  display: inline-block;
  text-align: center;
}

.create-button:hover {
  background-color: #1c5978;
}

.form-container {
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 13px 13px 13px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  width: 100%;
  max-width: 500px;
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.form-header h2 {
  margin: 0;
  font-size: 24px;
}

.close-button {
  background-color: transparent;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
}

.homeInput {
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 15px;
  font-size: 16px;
  width: 100%;
}

form button[type="submit"] {
  background-color: #337697;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  width: 50%;
  margin: 0 auto;
}

form button[type="submit"]:hover {
  background-color: #1c5978;
}

@media (max-width: 600px) {
  .HomeContainer {
    padding: 10px;
  }

  .create-button {
    padding: 10px 15px;
    font-size: 14px;
  }

  .form-container {
    padding: 20px;
  }

  form input[type="text"] {
    padding: 10px;
    font-size: 14px;
  }

  form button[type="submit"] {
    padding: 10px 15px;
    font-size: 14px;
  }
}
